# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
tmp/cache/*
/apidapter.log
coverage
report.html
robocop.html

*.DS_Store
.env
.ruby-version
dump.rdb
vendor/cache/*

vendor/assets/components
.gitkeep
config/settings.yml
config/secrets.yml
db/test.sqlite3
db/development.sqlite3
doc/*
.yardoc
*.gitkeep
config/deploy.rb
coverage

public/uploads/attachment
public/assets
public/shared/sitemap.xml.gz
